name: "Validate modules"

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

env:
  TF_WORKSPACE: "gh-valheim-server"
  AWS_REGION: "ap-southeast-2"

jobs:
  validate_modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - ./
    name: "Validate ${{ matrix.module }} module"
    permissions:
      id-token: write   # This is required for requesting the JWT
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11"
      - name: Load secrets
        id: load-secrets
        uses: 1password/load-secrets-action@v3
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          TF_API_TOKEN: "op://Valheim/Terraform - GitHub Actions/credential"
          AWS_OIDC_ROLE_ARN: "op://Valheim/AWS OIDC/role_arn"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6.0.0
        with:
          role-to-assume: ${{ steps.load-secrets.outputs.AWS_OIDC_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Terraform Format check
        id: fmt
        working-directory: ${{ matrix.module }}
        run: terraform fmt -check
        shell: bash

      - name: Terraform Init
        id: init
        working-directory: ${{ matrix.module }}
        run: terraform init
        shell: bash
        env:
          TF_API_TOKEN: ${{ steps.load-secrets.outputs.TF_API_TOKEN }}

      - name: Terraform Validate
        id: validate
        working-directory: ${{ matrix.module }}
        run: terraform validate -no-color
        shell: bash